@using Online_Commercial_Authomation.Models.Classes
@model List<SaleMove>
@{
    ViewBag.Title = "DepartmentEmployeeSale";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Department Employee Sale</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Employee Name: @ViewBag.demp</li>
</ol>

<table class="table table-condensed">
    <tr>

        <th>PRODUCT</th>
        <th>CURRENT</th>
        <th>NUMBER</th>
        <th>TOTAL AMOUNT</th>
        <th>DATE</th>
        <th>PRINT</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.Product.ProductName</td>
            <td>@x.Current.CurrentName  @x.Current.CurrentSurname</td>
            <td>@x.Price ₺</td>
            <td>@x.Number</td>
            <td>@x.TotalAmount</td>
            <td>@x.Date</td>
            <td><a href="#" class="btn btn-default" style="background-color: #FF6362 ">PRINT</a></td>

        </tr>

    }
</table>