@model Online_Commercial_Authomation.Models.Classes.Employee
@{
    ViewBag.Title = "EmployeeFind";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Employee Update</h2>
<br />

@using (Html.BeginForm("EmployeeUpdate", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    {
<div class="form-group">
    @Html.HiddenFor(x => x.EmployeeId)
    @Html.LabelFor(x => x.EmployeeName)
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.EmployeeSurname)
    @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })

    <br />

    @Html.LabelFor(x => x.EmployeeImage)
    <input type="file" name="EmployeeImage" />
    <br />

    @Html.LabelFor(x => x.Department)
    @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.vl1, new { @class = "form-control" })
    <br />

</div>

        <button class="btn btn-warning">UPDATE</button>
    }

}