@using Online_Commercial_Authomation.Models.Classes
@model List<SaleMove>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>SALES ID</th>
            <th>PRODUCT</th>
            <th>CURRENT</th>
            <th>EMPLOYEE</th>
            <th>NUMBER</th>
            <th>PRİCE</th>
            <th>TOTAL</th>
            <th>DATE</th>
            <th>UPDATE</th>
            <th>DETAILS</th>
        </tr>
    </thead>
    @foreach (var salemove in Model)
    {
<tr>
    <td>@salemove.SalesId</td>
    <td>@salemove.Product.ProductName</td>
    <td>@salemove.Current.CurrentName @salemove.Current.CurrentSurname</td>
    <td>@salemove.Employee.EmployeeName @salemove.Employee.EmployeeSurname</td>
    <td>@salemove.Number</td>
    <td>@salemove.Price</td>
    <td>@salemove.TotalAmount</td>
    <td>@salemove.Date.ToString("dd/MM/yyyy")</td>
    <td><a href="/Sale/SaleFind/@salemove.SalesId" class="btn btn-warning">UPDATE</a></td>
    <td><a href="/Sale/SaleDetail/@salemove.SalesId" class="btn btn-default" style="background-color:lightcoral; color:white">DETAILS</a></td>
</tr>
    }
</table>
<a href="/Sale/SaleAdd" class="btn btn-info">DO NEW SALES  </a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>


